# Luna Playable Codeowners
# Up-to-date info can be found here
# https://github.com/lunalabsltd/integration/blob/develop/.github/CODEOWNERS
# Global owners
* @Tokatak @Vladimir-tikhonov @Ilya @GachiFixer @zhemchugovstepan
# Additional info on codeowners can be found here:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file